.loadMoreBtn {
    display: flex;
    margin: auto;
    padding: 8px;
    font-size: 18px;
    border: 2px solid rgb(140, 140, 140);
    border-radius: 3px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.loadMoreBtn:hover {
    border: 2px solid rgb(0, 0, 0);
}